.decision-node {
    background: #F9F9F9;
    border: solid 1px #777;
    border-radius: 5px;
    padding: 5px 10px;

    color: rgba(0, 0, 0, .88);
    font-size: 14px;

    transition-property: background, color, background-color, width, height;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.decision-node.leaf {
    background: #DEDEDE;
    color: rgba(0, 0, 0, .6);
}

.decision-node:not(.leaf) {
    cursor: pointer;
}

.decision-node:not(.leaf):not(.selected):hover {
    background: #EFEFEF;

    transition-property: background, color, background-color, width, height;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}

.decision-node.selected {
    background: #EFEFEF;

    transition-property: background, color, background-color, width, height;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}